fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
email-validator
transformers
leia-br

# Testes
pytest
pytest-cov
httpx

# ML / NLP
scikit-learn

# Exportação
openpyxl

# Templates / Dashboard
jinja2
aiofiles

# Autenticação
python-jose[cryptography]
httpx-oauth
python-multipart
bcrypt

# Transcricao YouTube
youtube-transcript-api

# PDF
weasyprint

# Gráficos
matplotlib
#pip install torch==2.2.0+cpu --index-url https://download.pytorch.org/whl/cpu
#torch



# tótipo em função do tempo